.text-area{
    height: 100px;
    width: 100%;
    background-color:#05031a ;
    border: 2px solid white;
    color: white;
}


.from{
    width: 100%;
    background-color: #05031a;
    border: 2px solid white;
    height: 50px;
    color: white;
}


/* About.css */

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

  

.modal-content{
  background-color: #05031a !important;
  border: 5px solid white;
  color: white;
position: absolute;
top: 250px;
}

.btn-close{
  background-color: white!important;
  color: #05031a;
}