/* General styles */
.logo {
  color: #05031a;
}

/* GitHub icon style */
.github {
  height: 30px;
}

#nav-icon {
  color: white !important;
}

/* Navigation text styles */
#p {
  font-weight: 900;
  font-size: 20px;
  margin: 0 10px;
  color: #770df0;
  transition: 0.3s ease;
}

/* Navbar hover */
#nav:hover {
  color: #c084fc !important;
  border-bottom: 2px solid #770df0;
}

/* Active nav */
#nav {
  color: #770df0;
}

/* Navigation link underline effect */
#p:hover {
  border-bottom: 2px solid #770df0;
}

/* Navbar toggler */
.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler .bi {
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler .bi.bi-x {
  transform: rotate(180deg);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Remove text decoration */
.decor {
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {

  /* Navigation links */
  #p {
    font-size: 16px;
    margin: 5px;
  }

  /* Logo */
  .logo {
    width: 50px;
    height: 50px;
  }

  /* GitHub icon */
  .github {
    height: 25px;
  }

  /* Hover effect mobile */
  #nav:hover {
    border-bottom: 2px solid #770df0;
    float: inline-end;
  }
}
