/* General styles */
.logo {
    color: #05031a;
  }
  
  /* GitHub icon style */
  .github {
    height: 30px;
  }
  
  #nav-icon {
    color: white !important;
  }
  


  /* Navigation text styles */
  #p {
    font-weight: 900;
    font-size: 20px;
    margin: 0 10px; /* Add some horizontal margin between the links */
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
    
  }
  
  .navbar-toggler .bi {
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-toggler .bi.bi-x {
    transform: rotate(180deg);
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    /* Adjust font size of navigation links */
    #p {
      font-size: 16px;
      margin: 5px; /* Adjust margin for smaller screens */
    }
  
    /* Adjust logo size */
    .logo {
      width: 50px; /* Reduce logo size */
      height: 50px; /* Ensure proportional height */
    }
  
    /* Adjust GitHub icon size */
    .github {
      height: 25px; /* Adjust icon height */
    }

    #nav:hover{
      border-bottom:2px solid #80D0C7 ;
       float: inline-end;
    }
  }
  
  #nav:hover {
    color: aquamarine !important;
    border-bottom:2px solid #80D0C7 ;
  }

  #nav{
    color: #80D0C7;
  }
  
  .decor {
    text-decoration: none;
  }
  